* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

main {
    height: 100%;
    background: red;
    padding: 10px;
}

.container {
    height: 100%;
    padding: 10px;
    display: flex;
    background: green;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: flex-start;
}

.vertical_block {
    background: yellow;
    padding: 10px;
    overflow-y: auto;
    width: 100%;
    max-width: 300px;
    flex-shrink: 0;
    max-height: 100%;
}

.vertical_block:not(:last-child) {
    margin-right: 10px;
}

.task {
    background: purple;
    min-height: 100px;
    padding: 10px;
    transition: 0.3s;
    position: relative;
    z-index: 0;
    /*transform: translateX(20px) translateY(20px) translateZ();*/
    /*transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);*/
    /*transform: rotateZ(50deg);*/
    /*transform: scale(1.1);*/
    transform: skew(45deg);
}

.task.danger {
    background: red;
    color: white;
    border-bottom: 5px solid;
}

.task:not(:last-child) {
    margin-bottom: 10px;
}

.min-h-150 {
    min-height: 150px;
}

.min-h-250 {
    min-height: 250px;
}

.task:hover {
    background: lemonchiffon;
}

.task::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: inherit;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.7s;
    box-shadow: 0 0 0 6px #4f4f4fde;

}

.task:hover::before {
    visibility: visible;
    opacity: 1;
    top: -50%;
    z-index: 1;
    box-shadow: -1px 13px 11px 6px #4f4f4fde;
}

